.startup-grid .columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 12px;

  .column {
    margin: 10px;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;

      .project-img-container {
        width: 200px;
        height: 120px;

        .my-project-images {
          width: 100%;
          border-radius: 10px;
        }
      }
    }

    .check-me-out-btn {
      background-color: transparent;
      border-color: #6e07f3;
      color: #6e07f3;
      border-width: 1px;
      font-size: 15px;
      padding: 1rem;
      margin-top: 10px;
      border-radius: 9999px;
    }
  }
}

@media screen and (max-width: 572px) {
  .startup-grid .columns {
    grid-template-columns: 1fr;

    .column {
      .box {
        height: fit-content;
      }
    }
  }
}
